html {
    position: relative;
}

#profile {
    z-index: 4;
}

.jumbotron {
    background-image: url('../img/icons/1233.jpg');
    background-attachment: fixed;
    height: 430px;
    background-size: cover;
    color: #eaeaea;
    overflow: hidden;
}



.jumbotron img {
    width: 30%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.jumbotron h1,
.jumbotron h3 {
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

hr {
    width: 250px;
    border-top: 3px solid #999;
}

.kiri,
.kanan {
    opacity: 0;
    transform: translate(-50px, 0);
    transition: 3.2s;
}

.kanan {
    transform: translate(50px, 0);
}

.kiri-go,
.kanan-go {
    opacity: 1;
    transform: translate(0, 0);
}

.portfolio .thumbnail {
    opacity: 0;
    transform: translate(0, -40px);
    transition: .5s;
}

.portfolio .thumbnail.muncul {
    opacity: 1;
    transform: translate(0, 0);
}

.caption {
    height: 50%;
}

footer {
    min-height: 50px;
    padding-top: 12px;
}

.cacad {
    height: 20%;
    opacity: 3.5 !important;
    transition: .5s;
}